.nav{
    background-color: #faedcb;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.textoNav{
    color: #fd8dba;
    font-weight: bold;
}
.textoNav:hover{
    color: #bf9af5;
}