.banner {
    background-image: url('../images/bannerInicio.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20vh;
  }
  
.boton{
    background-color: #fd8dba;
    border-color: #fd8dba;
    font-weight: bold;
}
.boton:hover{
    background-color: #feb27b;
    border-color: #feb27b;
}
.cardProducto{
    border-color: #bf9af5;
    border-width: 3px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}
.cardProducto:hover{
    transform: scale(1.02);
}
.pagination .page-link {
    color: #bf9af5;
    border-color: #bf9af5;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #bf9af5;
    border-color: #bf9af5;
    color: white;
  }