.banner{
    background-image: url('../assets/banner\ inicio.png');
    background-size: 600px;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}
.boton{
    background-color: #fd8dba;
    border-color: #fd8dba;
    font-weight: bold;
}
.boton:hover{
    background-color: #feb27b;
    border-color: #feb27b;
}
.cardProducto{
    border-color: #bf9af5;
    border-width: 3px;
}